dist: bionic
language: python
cache: pip
python:
  - "3.8"
install:
  - pip install poetry==1.1.0
  - pip install codecov==2.1.10
  - make install_dev
after_success:
  - codecov --token=${CODECOV_TOKEN}
script:
  - make test_with_xml_coverage
  - make check_linting
