version: 2

jobs:
  build-and-test:
    docker:
      - image: circleci/python:3.8
    steps:
      - checkout
      - restore_cache:
          - keys:
              - deps-{{ checksum "poetry.lock" }}
      - run:
          name: Install dependencies
          command: poetry install codecov==2.1.10 && poetry install
      - save_cache:
          key: deps-{{ checksum "poetry.lock" }}
          paths:
            - /home/circleci/.cache/pypoetry/virtualenvs
      - run:
          name: Run test suite and linting validation
          command: make test_with_xml_coverage && make check_linting
      - run:
          command: codecov --token=$CODECOV_TOKEN

workflows:
  version: 2

  build-and-test-workflow:
    jobs:
      - build-and-test
